.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

.grid {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--cols), var(--cell));
    align-content: start;
}
