.characterContainer {
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-columns: 170px 1fr;
}

.characterLevel {
    margin-bottom: 0.5rem;
}

.characterLevel h2 {
    float: left;
    margin-right: 0.5rem;
}

.characterResources {
    clear: both;
}

.characterResources img {
    float: left;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.equipmentDisplay {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 1em;
}
