.label {
    clear: left;
    float: left;
    margin-right: 0.5rem;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
}

.value {
    overflow: hidden;
    text-align: right;
    margin-left: 0;
    color: var(--attribute-color);
}
